.head{
    color: rgba(0, 136, 255, 0.817);
    border-radius: 100px;
    border-style:groove;
    border-color: white;
    box-shadow: 30px;
    text-align: center;
}

.body{
    background-color: black;
    color:rgba(0, 136, 255, 0.817);
}

.boxColumn{
    display:flex;
    flex-direction: column;
    width: 500px;
    padding-left: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.button{
    background-color: rgba(0, 136, 255, 0.817);
    border-radius: 100px;
    border-color: white;
    margin-bottom: 15px;
    flex-basis: 88px;
    font-size: 45px;
}

.foot{
    border-radius: 100px;
    text-align: center;
    border-style: groove;
    border-color: white;
}

